name: Security Scan

on:
  push:
    branches: [ "main", "MyungHo", "Hanbeen", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  secret-scan:
    name: Secret Scan (TruffleHog)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # 전체 히스토리 스캔을 위해 필요

      - name: TruffleHog OSS
        uses: trufflesecurity/trufflehog@main
        with:
          path: ./
          base: ${{ github.event.repository.default_branch }}
          head: ${{ github.ref_name }}
          extra_args: --debug --only-verified
